<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.pay.account.dao.impl.RpSettRecordAnnexDaoImpl" >
  <resultMap id="BaseResultMap" type="com.roncoo.pay.account.entity.RpSettRecordAnnex" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="annex_name" property="annexName" jdbcType="VARCHAR" />
    <result column="annex_address" property="annexAddress" jdbcType="VARCHAR" />
    <result column="settlement_id" property="settlementId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, edit_time, version, remark, is_delete, annex_name, annex_address, 
    settlement_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rp_sett_record_annex
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rp_sett_record_annex
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.roncoo.pay.account.entity.RpSettRecordAnnex" >
    insert into rp_sett_record_annex (id, create_time, edit_time, 
      version, remark, is_delete, 
      annex_name, annex_address, settlement_id
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, 
      #{annexName,jdbcType=VARCHAR}, #{annexAddress,jdbcType=VARCHAR}, #{settlementId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.pay.account.entity.RpSettRecordAnnex" >
    update rp_sett_record_annex
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      annex_name = #{annexName,jdbcType=VARCHAR},
      annex_address = #{annexAddress,jdbcType=VARCHAR},
      settlement_id = #{settlementId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <sql id="table_name">  rp_sett_record_annex </sql>
  
  <!-- 根据搜索条件获取数据 -->
	<sql id="condition_sql">
		<if test="settlementId != null and settlementId !='' "> and settlement_id = #{settlementId}</if>
		
	</sql>


	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc
	</select>

	<!-- 分页查询 -->
	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc limit #{pageFirst}, #{pageSize}
	</select>

	<!-- 分页查询时要用到的总数统计 -->
	<select id="listPageCount" parameterType="java.util.Map"
		resultType="java.lang.Long">
		select count(1) from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
</mapper>