<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.pay.permission.dao.impl.PmsMenuRoleDaoImpl">

	<sql id="pms_menu_role"> pms_menu_role </sql>

	<insert id="insert" parameterType="com.roncoo.pay.permission.entity.PmsMenuRole">
		insert into
		<include refid="pms_menu_role" />
		(id,version,status,creater,create_time, editor, edit_time, remark,
		role_id,menu_id
		) values
		( #{id},0,#{status}, #{creater},#{createTime}, #{editor},#{editTime},#{remark},
		#{roleId,jdbcType=INTEGER},
		#{menuId,jdbcType=INTEGER}
		)
	</insert>

	<delete id="deleteById" parameterType="java.util.Map">
		delete from
		<include refid="pms_menu_role" />
		where ID = #{id}
	</delete>

	<select id="selectByPrimaryKey" parameterType="string" resultType="com.roncoo.pay.permission.entity.PmsMenuRole">
		select
		d.id,d.version,d.status,d.creater,
		d.create_time as "createTime", d.editor,
		d.edit_time as "editTime", d.remark,
		d.role_id as "roleId",
		d.menu_id as "menuId"
		from
		<include refid="pms_menu_role" />
		d
		where d.id = #{id}
	</select>

	<select id="listByRoleId" parameterType="long" resultType="com.roncoo.pay.permission.entity.PmsMenuRole">
		select d.id as "id",
		d.role_id as "roleId",
		d.menu_id as "menuId"
		from
		<include refid="pms_menu_role" />
		d
		where role_id = #{roleId}
	</select>

	<select id="listPage" parameterType="java.util.Map" resultType="com.roncoo.pay.permission.entity.PmsMenuRole">
		select d.id as "id",
		d.role_id as "roleId",
		d.menu_id as "menuId"
		from
		<include refid="pms_menu_role" />
		d
		order by id desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(1) FROM
		<include refid="pms_menu_role" />
		D
	</select>

	<delete id="deleteByRoleId" parameterType="long">
		delete from
		<include refid="pms_menu_role" />
		where role_id = #{roleId}
	</delete>

</mapper>
