<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
   ">

	<!-- 配置线程池 -->
	<bean id="threadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 线程池维护线程的最少数量 -->
		<property name="corePoolSize" value="2" />
		<!-- 线程池维护线程所允许的空闲时间 -->
		<property name="keepAliveSeconds" value="10000" />
		<!-- 线程池维护线程的最大数量 -->
		<property name="maxPoolSize" value="5" />
		<!-- 线程池所使用的缓冲队列 -->
		<property name="queueCapacity" value="50" />
	</bean>

	<!-- 配置通知参数, 时间单位分-->
	<bean id="pollingParam" class="com.roncoo.pay.app.polling.entity.PollingParam">
		<property name="notifyParams">
			<map>
				<entry key="1" value="2" />
				<entry key="2" value="3" />
				<entry key="3" value="5" />
				<entry key="4" value="10" />
				<entry key="5" value="20" />
				<entry key="6" value="30" />
			</map>
		</property>
		<property name="successValue" value="SUCCESS" />
	</bean>

</beans>