<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.pay.trade.dao.impl.RpTradePaymentRecordDaoImpl">

	<resultMap id="BaseResultMap" type="com.roncoo.pay.trade.entity.RpTradePaymentRecord">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="SMALLINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="editor" property="editor" jdbcType="VARCHAR" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
		<result column="trx_no" property="trxNo" jdbcType="CHAR" />
		<result column="bank_order_no" property="bankOrderNo" jdbcType="CHAR" />
		<result column="bank_trx_no" property="bankTrxNo" jdbcType="VARCHAR" />
		<result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
		<result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
		<result column="payer_user_no" property="payerUserNo" jdbcType="VARCHAR" />
		<result column="payer_name" property="payerName" jdbcType="VARCHAR" />
		<result column="payer_pay_amount" property="payerPayAmount" jdbcType="DECIMAL" />
		<result column="payer_fee" property="payerFee" jdbcType="DECIMAL" />
		<result column="payer_account_type" property="payerAccountType" jdbcType="VARCHAR" />
		<result column="receiver_user_no" property="receiverUserNo" jdbcType="VARCHAR" />
		<result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
		<result column="receiver_pay_amount" property="receiverPayAmount" jdbcType="DECIMAL" />
		<result column="receiver_fee" property="receiverFee" jdbcType="DECIMAL" />
		<result column="receiver_account_type" property="receiverAccountType" jdbcType="VARCHAR" />
		<result column="order_ip" property="orderIp" jdbcType="VARCHAR" />
		<result column="order_referer_url" property="orderRefererUrl" jdbcType="VARCHAR" />
		<result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
		<result column="plat_income" property="platIncome" jdbcType="DECIMAL" />
		<result column="fee_rate" property="feeRate" jdbcType="DECIMAL" />
		<result column="plat_cost" property="platCost" jdbcType="DECIMAL" />
		<result column="plat_profit" property="platProfit" jdbcType="DECIMAL" />
		<result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
		<result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
		<result column="pay_way_code" property="payWayCode" jdbcType="VARCHAR" />
		<result column="pay_way_name" property="payWayName" jdbcType="VARCHAR" />
		<result column="pay_success_time" property="paySuccessTime" jdbcType="TIMESTAMP" />
		<result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
		<result column="is_refund" property="isRefund" jdbcType="VARCHAR" />
		<result column="refund_times" property="refundTimes" jdbcType="SMALLINT" />
		<result column="success_refund_amount" property="successRefundAmount" jdbcType="DECIMAL" />
		<result column="trx_type" property="trxType" jdbcType="VARCHAR" />
		<result column="order_from" property="orderFrom" jdbcType="VARCHAR" />
		<result column="pay_type_code" property="payTypeCode" jdbcType="VARCHAR" />
		<result column="pay_type_name" property="payTypeName" jdbcType="VARCHAR" />
		<result column="fund_into_type" property="fundIntoType" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="bank_return_msg" property="bankReturnMsg" jdbcType="VARCHAR" />
		<result column="field1" property="field1" jdbcType="VARCHAR" />
		<result column="field2" property="field2" jdbcType="VARCHAR" />
		<result column="field3" property="field3" jdbcType="VARCHAR" />
		<result column="field4" property="field4" jdbcType="VARCHAR" />
		<result column="field5" property="field5" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, version, create_time, status, editor, creater, edit_time, product_name, merchant_order_no,
		trx_no, bank_order_no, bank_trx_no, merchant_name, merchant_no, payer_user_no, payer_name,
		payer_pay_amount, payer_fee, payer_account_type, receiver_user_no, receiver_name,
		receiver_pay_amount, receiver_fee, receiver_account_type, order_ip, order_referer_url,
		order_amount, plat_income, fee_rate, plat_cost, plat_profit, return_url, notify_url,
		pay_way_code, pay_way_name, pay_success_time, complete_time, is_refund, refund_times,
		success_refund_amount, trx_type, order_from, pay_type_code, pay_type_name, fund_into_type,
		remark, bank_return_msg , field1, field2, field3, field4, field5
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from rp_trade_payment_record
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.roncoo.pay.trade.entity.RpTradePaymentRecord">
		insert into rp_trade_payment_record (id, version, create_time,
		status, editor, creater,
		edit_time, product_name, merchant_order_no,
		trx_no, bank_order_no, bank_trx_no,
		merchant_name, merchant_no, payer_user_no,
		payer_name, payer_pay_amount, payer_fee,
		payer_account_type, receiver_user_no, receiver_name,
		receiver_pay_amount, receiver_fee, receiver_account_type,
		order_ip, order_referer_url, order_amount,
		plat_income, fee_rate, plat_cost,
		plat_profit, return_url, notify_url,
		pay_way_code, pay_way_name, pay_success_time,
		complete_time, is_refund, refund_times,
		success_refund_amount, trx_type, order_from,
		pay_type_code, pay_type_name, fund_into_type,
		remark, bank_return_msg , field1,
		field2,
		field3, field4, field5
		)
		values (#{id,jdbcType=VARCHAR}, #{version,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP},
		#{status,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR},
		#{editTime,jdbcType=TIMESTAMP}, #{productName,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR},
		#{trxNo,jdbcType=CHAR}, #{bankOrderNo,jdbcType=CHAR}, #{bankTrxNo,jdbcType=VARCHAR},
		#{merchantName,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{payerUserNo,jdbcType=VARCHAR},
		#{payerName,jdbcType=VARCHAR}, #{payerPayAmount,jdbcType=DECIMAL}, #{payerFee,jdbcType=DECIMAL},
		#{payerAccountType,jdbcType=VARCHAR}, #{receiverUserNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR},
		#{receiverPayAmount,jdbcType=DECIMAL}, #{receiverFee,jdbcType=DECIMAL}, #{receiverAccountType,jdbcType=VARCHAR},
		#{orderIp,jdbcType=VARCHAR}, #{orderRefererUrl,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DECIMAL},
		#{platIncome,jdbcType=DECIMAL}, #{feeRate,jdbcType=DECIMAL}, #{platCost,jdbcType=DECIMAL},
		#{platProfit,jdbcType=DECIMAL}, #{returnUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR},
		#{payWayCode,jdbcType=VARCHAR}, #{payWayName,jdbcType=VARCHAR}, #{paySuccessTime,jdbcType=TIMESTAMP},
		#{completeTime,jdbcType=TIMESTAMP}, #{isRefund,jdbcType=VARCHAR}, #{refundTimes,jdbcType=SMALLINT},
		#{successRefundAmount,jdbcType=DECIMAL}, #{trxType,jdbcType=VARCHAR}, #{orderFrom,jdbcType=VARCHAR},
		#{payTypeCode,jdbcType=VARCHAR}, #{payTypeName,jdbcType=VARCHAR}, #{fundIntoType,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},#{bankReturnMsg,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR},
		#{field3,jdbcType=VARCHAR}, #{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.roncoo.pay.trade.entity.RpTradePaymentRecord">
		update rp_trade_payment_record
		set version = #{version,jdbcType=SMALLINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=VARCHAR},
		editor = #{editor,jdbcType=VARCHAR},
		creater = #{creater,jdbcType=VARCHAR},
		edit_time = #{editTime,jdbcType=TIMESTAMP},
		product_name = #{productName,jdbcType=VARCHAR},
		merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
		trx_no = #{trxNo,jdbcType=CHAR},
		bank_order_no = #{bankOrderNo,jdbcType=CHAR},
		bank_trx_no = #{bankTrxNo,jdbcType=VARCHAR},
		merchant_name = #{merchantName,jdbcType=VARCHAR},
		merchant_no = #{merchantNo,jdbcType=VARCHAR},
		payer_user_no = #{payerUserNo,jdbcType=VARCHAR},
		payer_name =
		#{payerName,jdbcType=VARCHAR},
		payer_pay_amount = #{payerPayAmount,jdbcType=DECIMAL},
		payer_fee = #{payerFee,jdbcType=DECIMAL},
		payer_account_type = #{payerAccountType,jdbcType=VARCHAR},
		receiver_user_no = #{receiverUserNo,jdbcType=VARCHAR},
		receiver_name = #{receiverName,jdbcType=VARCHAR},
		receiver_pay_amount = #{receiverPayAmount,jdbcType=DECIMAL},
		receiver_fee = #{receiverFee,jdbcType=DECIMAL},
		receiver_account_type = #{receiverAccountType,jdbcType=VARCHAR},
		order_ip = #{orderIp,jdbcType=VARCHAR},
		order_referer_url = #{orderRefererUrl,jdbcType=VARCHAR},
		order_amount = #{orderAmount,jdbcType=DECIMAL},
		plat_income = #{platIncome,jdbcType=DECIMAL},
		fee_rate = #{feeRate,jdbcType=DECIMAL},
		plat_cost =
		#{platCost,jdbcType=DECIMAL},
		plat_profit = #{platProfit,jdbcType=DECIMAL},
		return_url = #{returnUrl,jdbcType=VARCHAR},
		notify_url = #{notifyUrl,jdbcType=VARCHAR},
		pay_way_code = #{payWayCode,jdbcType=VARCHAR},
		pay_way_name = #{payWayName,jdbcType=VARCHAR},
		pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
		complete_time = #{completeTime,jdbcType=TIMESTAMP},
		is_refund = #{isRefund,jdbcType=VARCHAR},
		refund_times = #{refundTimes,jdbcType=SMALLINT},
		success_refund_amount = #{successRefundAmount,jdbcType=DECIMAL},
		trx_type = #{trxType,jdbcType=VARCHAR},
		order_from = #{orderFrom,jdbcType=VARCHAR},
		pay_type_code = #{payTypeCode,jdbcType=VARCHAR},
		pay_type_name = #{payTypeName,jdbcType=VARCHAR},
		fund_into_type =
		#{fundIntoType,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		bank_return_msg = #{bankReturnMsg,jdbcType=VARCHAR},
		field1 = #{field1,jdbcType=VARCHAR},
		field2 = #{field2,jdbcType=VARCHAR},
		field3 = #{field3,jdbcType=VARCHAR},
		field4 = #{field4,jdbcType=VARCHAR},
		field5 = #{field5,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 对账查询条件 -->
	<sql id="condition_sql">
		<!-- billDate 的格式：2016-05-20 -->
		<if test="billDate != null and billDate != ''">
			and create_time between #{billDate} AND CONCAT(#{billDate},' 23:59:59')
		</if>
		<if test="interfaceCode != null and interfaceCode != ''">
			and pay_way_code = #{interfaceCode}
		</if>
		<if test="bankOrderNo != null and bankOrderNo != ''">
			and bank_order_no = #{bankOrderNo}
		</if>
		<if test="trxNo != null and trxNo != ''"> and trx_no = #{trxNo}</if>
		<if test="merchantNo != null and merchantNo != ''"> and merchant_no = #{merchantNo,jdbcType=VARCHAR}</if>
		<if test="merchantOrderNo != null and merchantOrderNo != ''"> and merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR}</if>
		<if test="merchantName != null and merchantName != '' "> and merchant_name = #{merchantName,jdbcType=VARCHAR}</if>
		<if test="fundIntoType != null and fundIntoType != '' "> and fund_into_type = #{fundIntoType,jdbcType=VARCHAR}</if>
		<if test="payTypeName != null and payTypeName != '' "> and pay_type_name = #{payTypeName,jdbcType=VARCHAR}</if>
		<if test="payWayName != null and payWayName != '' "> and pay_way_name = #{payWayName,jdbcType=VARCHAR}</if>
		<if test="status != null and status != '' "> and status = #{status,jdbcType=VARCHAR}</if>

		<if test="orderDateBegin != null and orderDateBegin != '' "> and order_date <![CDATA[ >= ]]> #{orderDateBegin,jdbcType=VARCHAR}</if>
		<if test="orderDateEnd != null and orderDateEnd != '' "> and order_date <![CDATA[ <= ]]> #{orderDateEnd,jdbcType=VARCHAR}</if>

	</sql>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<!-- 对账查询 -->
	<select id="listByColumn" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by create_time desc  limit #{pageFirst}, #{pageSize}]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from  rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<select id="getPaymentReport" parameterType="java.util.Map" resultType="java.util.Map">
		select  count(trx_no) as recordCount,date_format(create_time,'%Y-%m') as createTime 
		from rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
		GROUP BY MONTH(create_time) ORDER BY MONTH(create_time) DESC limit 6
	</select>
	
	<select id="getPayWayReport" parameterType="java.util.Map" resultType="java.util.Map">
		select  pay_way_name,count(trx_no)  from rp_trade_payment_record
		<where>
			<include refid="condition_sql" />
		</where>
GROUP BY pay_way_name 
	</select>
</mapper>