<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.pay.user.dao.impl.RpUserPayInfoDaoImpl" >
  <resultMap id="BaseResultMap" type="com.roncoo.pay.user.entity.RpUserPayInfo" >
    <id column="id_" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_sectet" property="appSectet" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="partner_key" property="partnerKey" jdbcType="VARCHAR" />
    <result column="pay_way_code" property="payWayCode" jdbcType="VARCHAR" />
    <result column="pay_way_name" property="payWayName" jdbcType="VARCHAR" />
    <result column="offline_app_id" property="offlineAppId" jdbcType="VARCHAR" />
    <result column="rsa_private_key" property="rsaPrivateKey" jdbcType="VARCHAR" />
    <result column="rsa_public_key" property="rsaPublicKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_, create_time, edit_time, version, remark, status, app_id, app_sectet, merchant_id, 
    app_type, user_no, user_name, partner_key, pay_way_code, pay_way_name, offline_app_id, rsa_private_key,
    rsa_public_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rp_user_pay_info
    where id_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rp_user_pay_info
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.roncoo.pay.user.entity.RpUserPayInfo" >
    insert into rp_user_pay_info (id_, create_time, edit_time, 
      version, remark, status, 
      app_id, app_sectet, merchant_id, 
      app_type, user_no, user_name, partner_key,
      pay_way_code, pay_way_name, offline_app_id, rsa_private_key, rsa_public_key
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR}, #{appSectet,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{appType,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{partnerKey,jdbcType=VARCHAR}, #{payWayCode,jdbcType=VARCHAR}, #{payWayName,jdbcType=VARCHAR},
      #{offlineAppId,jdbcType=VARCHAR}, #{rsaPrivateKey,jdbcType=VARCHAR}, #{rsaPublicKey,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.roncoo.pay.user.entity.RpUserPayInfo" >
    update rp_user_pay_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_sectet = #{appSectet,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      partner_key = #{partnerKey,jdbcType=VARCHAR},
      pay_way_code = #{payWayCode,jdbcType=VARCHAR},
      pay_way_name = #{payWayName,jdbcType=VARCHAR},
      offline_app_id = #{offlineAppId,jdbcType=VARCHAR}, 
      rsa_private_key = #{rsaPrivateKey,jdbcType=VARCHAR}, 
      rsa_public_key = #{rsaPublicKey,jdbcType=VARCHAR}
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
  
  <sql id="table_name">  rp_user_pay_info </sql>
  
  <!-- 根据搜索条件获取数据 -->
	<sql id="condition_sql">
      <if test="userNo != null and userNo != ''" >
          and   user_no = #{userNo,jdbcType=VARCHAR}
      </if>
      <if test="payWayCode != null and payWayCode != ''" >
          and   pay_way_code = #{payWayCode,jdbcType=VARCHAR}
      </if>
	</sql>

  <select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from
    <include refid="table_name" />
    <where>
      <include refid="condition_sql" />
    </where>
    order by create_time desc
  </select>
  
  	<!-- 分页查询 -->
	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc limit #{pageFirst}, #{pageSize}
	</select>

	<!-- 分页查询时要用到的总数统计 -->
	<select id="listPageCount" parameterType="java.util.Map"
		resultType="java.lang.Long">
		select count(1) from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
</mapper>